<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>doSignIn</servlet-name>
        <servlet-class>communicator.doSignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doSignUp</servlet-name>
        <servlet-class>communicator.doSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doMove</servlet-name>
        <servlet-class>communicator.doMove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMyMoves</servlet-name>
        <servlet-class>communicator.getMyMoves</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doAcknowledgeMove</servlet-name>
        <servlet-class>communicator.doAcknowledgeMove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doAccRejMoveDeal</servlet-name>
        <servlet-class>communicator.doAccRejMoveDeal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfile</servlet-name>
        <servlet-class>communicator.updateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMoves</servlet-name>
        <servlet-class>communicator.getMoves</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadBigItemImages</servlet-name>
        <servlet-class>communicator.uploadBigItemImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doMoverSignup</servlet-name>
        <servlet-class>communicator.doMoverSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mailService</servlet-name>
        <servlet-class>communicator.mailService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doSignIn</servlet-name>
        <url-pattern>/doSignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doSignUp</servlet-name>
        <url-pattern>/doSignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doMove</servlet-name>
        <url-pattern>/doMove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMyMoves</servlet-name>
        <url-pattern>/getMyMoves</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doAcknowledgeMove</servlet-name>
        <url-pattern>/doAcknowledgeMove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doAccRejMoveDeal</servlet-name>
        <url-pattern>/doAccRejMoveDeal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfile</servlet-name>
        <url-pattern>/updateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMoves</servlet-name>
        <url-pattern>/getMoves</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadBigItemImages</servlet-name>
        <url-pattern>/uploadBigItemImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doMoverSignup</servlet-name>
        <url-pattern>/doMoverSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mailService</servlet-name>
        <url-pattern>/mailService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>MoversDbFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>SessionBeansEntityClass.MoversDbFacadeLocal</local>
        <ejb-link>NextMove-ejb.jar#MoversDbFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MoversDbFacade1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>SessionBeansEntityClass.MoversDbFacadeLocal</local>
        <ejb-link>NextMove-ejb.jar#MoversDbFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MailsQueueDbFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>SessionBeansEntityClass.MailsQueueDbFacadeLocal</local>
        <ejb-link>NextMove-ejb.jar#MailsQueueDbFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MovesDbFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>SessionBeansEntityClass.MovesDbFacadeLocal</local>
        <ejb-link>NextMove-ejb.jar#MovesDbFacade</ejb-link>
    </ejb-local-ref>
</web-app>
